@media screen and (min-width: 1024px) {
  /*------------------------------| The Nav Codes Are Here |------------------------------*/

  /*------------------------------| SECTION ONE |------------------------------*/
  /* .topOfheader {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: start;
  } */
  nav > ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin:0;
    margin-top: 1%;
  }
  
  #Mini-Logo {
    display: flex;
    flex-direction: column;
  }

  /*------------------------------| SECTION TWO |------------------------------*/

  .Login-And-Register > div > ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 0;
    margin-top: 1%;
  }

  .Rand-Text {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  /* .top-head {
    display: flex;
flex-direction: row;
align-items: center;
  } */
  /*------------------------------| The Nav Codes Are Here |------------------------------*/
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
}
@media screen and (max-width: 767px) {
}
