.container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 555px auto 400px;
}
header {
  grid-column: 1/-1;
  background-color: #8a2be2;
  grid-row: 1;
}
main {
  grid-column: 1/9;
  background-color: #00a9bf;
  grid-row: 2;
}
aside {
  grid-column: 9/13;
  background-color: #970901;
  grid-row: 2;
}
footer {
  grid-column: 1/13;
  background-color: #4000ff;
  grid-row:3;
}
