/*

                  (Colors)

    Color 1 : 00FFCA    rgb(0, 255, 202)
    Color 2 : 05BFDB    rgb(5, 191, 219)
    Color 3 : 088395    rgb(8, 131, 149)
    Color 4 : 0A4D68    rgb(10, 77, 104)
      Its used for background color and its blue
    Color 5 : ffd700    rgb(255, 217, 0)

*/

/* 

                  (Fonts)

    Iranin Sans.tff
        For all of website
        Size
*/
/* Importing fonts */
@font-face {
  font-family: Iranian-Sans;
  src: url(../Fonts/IranianSans.ttf);
}
@font-face {
  font-family: BHalal;
  src: url(../Fonts/BHalal.ttf);

}
@font-face {
  font-family: AGhasem;
  src: url(../Fonts/AGhasem.ttf);
}
/* Importing fonts */


/* The Basic Styles */
body{
  margin: auto;
  direction: rtl;
}
ul{
  list-style: none;
  font-family: BHalal;
}
ul a{
  text-decoration: none;
  color: #ffffff;
}

/* The Basic Styles */


/*------------------------------| The Main Codes Are Here |------------------------------*/
@media screen and (min-width: 1024px) {
  #Mini-Logo img{
    height: 75px;
    margin-left: 30%;
    margin-right: 70%;
   margin-top: 5%;
    }
  nav>ul{
    font-size:x-large;
  } 
  nav>ul>li>a:hover{
    font-size: 25px;
    color: aqua;
  } 
} 
@media screen and (min-width: 768px) and (max-width: 1023px) {

}
@media screen and (max-width: 767px) {
  .container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 72px 900px 200px;
  }
  header {
    grid-column: 1/-1;
    background-color: #8a2be2;
    grid-row: 1;
  }
  main {
    grid-column: 1/-1;
    background-color: #00a9bf;
    grid-row: 2;
  }
  aside {
    display: none;
  }
  footer {
    grid-column: 1/13;
    background-color: #4000ff;
    grid-row: 3;
  }
}
/*------------------------------| The Main Codes Are Here |------------------------------*/